@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
}

.bg-image{
  background-image: url('../public/home-image/hero-bg.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;

}